.footer {
    background-color: #003359 !important;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif !important;
}
.footer ul{
    list-style: none;
}
#icon-social{
    /* background-image: url("../images/social/facebook.png"); */
    width: 50px;
    height: 50px;
}
.margem{
    margin-top: 10px;
}
.footer-copyright{
    margin: 0% 0% 0% 0% !important;
    font-family: 'Montserrat', sans-serif !important;
}
.btn-circle{
    border-radius: 50px;
    padding: 4px 10px 3px 6px;
}
.sprit-tw{
    /* width: 100px; */
    /* height: 100px; */
    background: url('../images/social/thumbs.png') no-repeat no-repeat -294px 0;
    width: 50px;
    height: 50px;
}
.sprit-fl{
    background: url('../images/social/thumbs.png') no-repeat -149px -1px;
    width: 48px;
    height: 48px;
}
.sprit-fc{
    background: url('../images/social/thumbs.png') no-repeat -75px 0;
    width: 50px;
    height: 50px;
}
.sprit-lk{
    background: url('../images/social/thumbs.png') no-repeat -221px 0;
    width: 50px;
    height: 50px;
}
ul{
  margin: 10px 0px 0px 0px;
}
