*{
   font-family: 'Roboto Mono', monospace !important;
}
.navbar{
    background-color: #003359 !important;
}

.cent-container {
    max-width: 1170px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

