/* .zoom{
  overflow: hidden;
}
.zoom img{
  max-width: 100%;
  -mzo-transition: all 0.3s;
  webkit-transition: all 0.3s;
  transition:  all 0.3s;
}
.zoom:hover img {
  -mzo-transition: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */
.imgT{
  width: 200px;
  height: 300px;
}

.configdiv {border: 1px solid #DDDDDD;
           margin-right: 28px;
           margin-bottom: 25px;
           padding: 10px;
}
#parallax-projects{
  background-color: #2ecc71 ;
  /* background-image: url("../images/parallax/wilma7.jpg"); */
  width: 100%;
  height: 150px;
  text-align: center;
}

#parallax-events{
  background-color: #3498db ;
  width: 100%;
  height: 150px;
  text-align: center;
}
#parallax-contact{
  background-color: #9b59b6 ;
  width: 100%;
  height: 150px;
  text-align: center;
}
